@font-face {
    font-family: Raleway;
    src: local("../fonts/Raleway"), url("../fonts/Raleway/static/Raleway-Regular.ttf") format("truetype");
}

.main {
    font-family: Raleway, sans-serif;
    background-color: #100e1d;
    width: 68.125%;
    float: right;
    &-nav {
        display: flex;
        float: right;
        width: 10%;
        // border: 1px solid blue;
        margin-top: 42px;
        margin-right: 123px;

        &-celsius > button {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;

            width: 40px;
            height: 40px;
            border: none;
            background: #e7e7eb;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            color: #110e3c;
            border-radius: 50%;
        }

        &-fahrenheit > button {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;

            width: 40px;
            height: 40px;
            border: none;
            background: #585676;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            color: #e7e7eb;
            border-radius: 50%;

            margin-left: 12px;
        }
    }
    &-forecast {
        display: flex;
        // border: 1px solid blue;
        width: 73%;
        margin: 0 auto;
        margin-top: 148px;
        box-sizing: border-box;
        justify-content: space-between;

        color: #e7e7eb;
        text-align: center;
        &-card {
            width: 16.7%;
            min-height: 160px;
            background-color: #1e213a;
            &-title {
                display: inline-block;
                margin-top: 18px;
            }
            &-temperature {
                width: 65%;
                margin: 0 auto;
                // display: inline-block;
                // margin-bottom: 18px;
                &-max {
                    float: left;
                }
                &-min {
                    float: right;
                }
            }
        }
    }
    &-highlight {
        &-topic {
            display: inline-block;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #e7e7eb;

            margin-top: 70px;
            margin-bottom: 32px;
            margin-left: 123px;
        }
        &-top {
            color: #e7e7eb;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            justify-content: space-between;
            width: 73%;
            margin: 0 auto;
            margin-bottom: 43px;
            &-card {
                width: 47%;
                height: 204px;
                background-color: #1e213a;
                &-title {
                    display: block;
                    text-align: center;
                    width: 30%;
                    margin: 0 auto;
                    margin-top: 22px;
                    margin-bottom: 10px;
                }
                &-wind {
                    text-align: center;
                    width: 30%;
                    margin: 0 auto;
                    &-speed {
                        font-weight: bold;
                        font-size: 70px;
                        line-height: 75px;
                    }
                    &-unit {
                        font-size: 40px;
                        line-height: 75px;
                    }
                }
                &-direction {
                    width: 26%;
                    margin: 0 auto;
                    margin-top: 9px;
                    &-icon {
                        background: rgba(255, 255, 255, 0.3);
                        transform: rotate(-150deg);
                        border-radius: 50%;
                        width: 33px;
                        height: 33px;
                        border: none;
                        & > .material-icons {
                            color: #e7e7eb;
                            position: relative;
                            font-size: 18px;
                        }
                    }
                    &-content {
                        font-size: 14px;
                        line-height: 16px;
                        margin-left: 11px;
                    }
                    &-unit {
                        font-size: 40px;
                        line-height: 75px;
                    }
                }

                &-humidity {
                    text-align: center;
                    width: 30%;
                    margin: 0 auto;
                    &-content {
                        font-weight: bold;
                        font-size: 70px;
                        line-height: 75px;
                    }
                    &-unit {
                        font-size: 40px;
                        line-height: 75px;
                    }
                }
                &-bar {
                    width: 70%;
                    margin: 0 auto;
                    margin-top: 8px;
                    font-size: 12px;
                    line-height: 14px;
                    &-percent span {
                        display: block;
                    }
                    &-percent {
                        display: flex;
                        box-sizing: border-box;
                        justify-content: space-between;
                    }
                    & > progress {
                        display: block;
                        width: 100%;
                        height: 8px;

                        background-color: #e7e7eb;
                        &::-webkit-progress-value {
                            background-color: #ffec65;
                        }
                        &::-webkit-progress-bar {
                            background-color: #e7e7eb;
                        }
                    }
                    &-unit {
                        float: right;
                    }
                }
            }
        }
        &-bottom {
            color: #e7e7eb;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            justify-content: space-between;
            width: 73%;
            margin: 0 auto;
            margin-bottom: 140px;
            &-card {
                width: 47%;
                height: 159px;
                background-color: #1e213a;
                &-title {
                    display: block;
                    text-align: center;
                    width: 30%;
                    margin: 0 auto;
                    margin-top: 22px;
                    margin-bottom: 10px;
                }
                &-visibility {
                    text-align: center;
                    width: 30%;
                    margin: 0 auto;
                    &-content {
                        font-weight: bold;
                        font-size: 70px;
                        line-height: 75px;
                    }
                    &-unit {
                        font-size: 40px;
                        line-height: 75px;
                    }
                }
                &-air {
                    text-align: center;
                    width: 30%;
                    margin: 0 auto;
                    &-content {
                        font-weight: bold;
                        font-size: 70px;
                        line-height: 75px;
                    }
                    &-unit {
                        font-size: 40px;
                        line-height: 75px;
                    }
                }
            }
        }
    }
}
